.services .servicesrow{
    display: flex;
    justify-content: space-around;

}

.services .mobileservicesrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2.25em;
}

.services .serviceicon{
    width: 10em;
}

.services li{
    max-width: min-content;
    list-style-type: none;
    cursor: pointer;
    padding-top: 2em;
}

.services li img{
    transition: 400ms;
}

.services li img:hover{
    transform: scale(110%);
}

.services h2{
    font-weight: normal;
}