.presentation{
    padding: 2em;
    margin: 5vh 10vh;
    border-radius: 0.5em;
    border: solid thin;
}

.mobilepresentation{
    padding: 1em;
    margin: 5vh 2vh;
    border-radius: 0.5em;
    border: solid thin;
}

.presentation h2{
    font-weight: normal;
}