.picturesrow .pictures{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.picturesrow h2{
    font-weight: normal;
}

.picturesrow .pictures .picture{
    height: 30em;
    border-radius: 1em;
    margin: 0em 2em;
}

.picturesrow .pictures .mobilepicture{
    height: 12em;
    border-radius: 0.5em;
    margin: 0em 0em;
}

.picturesrow .arrowicon{
    transform: scale(200%);
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: 300ms;
}

.picturesrow .arrowicon:hover{
    background-color: #273f32;
    color: white;
}

.picturesrow .mobilearrowicon{
    background-color: #273f32;
    color: white;
    transform: scale(200%);
    cursor: pointer;
    margin: -2em;
    border-radius: 0.125em;
}