.footer{
    padding: 1.5em;
    margin-top: 5em;
    background-color: #273f32;
    display: flex;
    justify-content: space-around;
}

.footer .icon{
    color: white;
    transform: scale(175%);
}

.footer .footerlink{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .footerlink .showtext{
    margin-left: 2em;
    color:white;
}

.footer .footerlink .hidetext{
display: none;
}