body {
  min-height: 100%;
  padding-top: 6em;
  margin: 0;
  font-family: 'Merriweather';
  line-height: 150%;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

body::-webkit-scrollbar{
  width: 0.5em;
}

body::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 2em;
}

body::-webkit-scrollbar-track{
  background: #273f32
}